[submodule "data/raw/COVID-19"]
	path = data/raw/COVID-19
	url = git@github.com:CSSEGISandData/COVID-19.git
[submodule "data/raw/OurWorldInData"]
	path = data/raw/OurWorldInData
	url = git@github.com:owid/covid-19-data.git
